<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menü">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item routerLink="/aktuelles">
      <mat-icon>newspaper</mat-icon>
      <span>Aktuelles</span>
    </button>
    <button mat-menu-item routerLink="/termine">
      <mat-icon>calendar_month</mat-icon>
      <span>Termine</span>
    </button>
  </mat-menu>
  <span>{{title}}</span>
</mat-toolbar>
<div class="container-fluid-md mx-auto">
  <router-outlet></router-outlet>
</div>